@import url("helvetica_neue/stylesheet.css");
body {
	font-family: "helvetica neue";
	font-style: normal;
}
body p {

}

media{
	width: 70%
}

@media(max-width: 600px) {
	img {
		width: 90%;
	}
}

canvas {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  padding: 10px;
  text-align: center;
}
